# Node
node_modules/

# Next.js
.next/
out/

# Python
__pycache__/
*.pyc
.venv/
venv/

# AWS SAM
.aws-sam/
samconfig.toml

# Environment Variables
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db