# Node & Next.js
node_modules/
.next/
out/

# Python
__pycache__/
*.pyc
.venv/
venv/

# AWS SAM & Credentials
.aws-sam/
samconfig.toml
.aws/
*.pem

# Environment Variables
.env
.env.local

# IDE & Editor
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db